
.admin-panel-wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  background: url('../../space.jpeg') no-repeat center center fixed;
  background-size: cover; /* This ensures the background covers the entire area */
  align-items: center;
height: 100vh; /* Full viewport height */
overflow: hidden; /* Prevent scrolling */

}


.admin-panel {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  max-height: 100vh; /* Ensure the panel doesn't exceed the viewport height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 


.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}


.logo {
  height: 70px; 
  margin-right: 20px; 
}


.header h2 {
  flex-grow: 1;
  color: #004085;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding-top: 15px;
}


.users-table-container {
  max-height: 590px;
  overflow-y: auto;
  margin-top: 20px;
}


.users-table {
  width: 100%;
  border-collapse: collapse;
}

.users-table th, .users-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}


.users-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}


.users-table thead th {
  position: sticky;
  top: 0;
  background-color: #004085;
  color: white;
  z-index: 1;
}

.no-user-data {
  text-align: center;
  color: #888;
  font-size: 18px;
  margin-top: 20px;
}
.user-link {
  color: #007bff;
  text-decoration: none;
}

.user-link:hover {
  text-decoration: underline;
}
/* Existing styles */

.leave-requests-container {
  margin-top: 40px;
}

.leave-requests-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.leave-requests-table th,
.leave-requests-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.leave-requests-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.leave-requests-table thead th {
  background-color: #004085;
  color: white;
}

.leave-requests-table button {
  margin-right: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.leave-requests-table button:hover {
  opacity: 0.8;
}
