@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Forum&display=swap');

.mainContainer {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  background: url('../space.jpeg') no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden; /* Prevent scrolling */
}

/* Header Section */
.headerMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}
.footerMain{
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  align-items: center;
  height: 1vh;
}
.logoN img {
  width: 80px;
  height: auto;
}

/* Navigation Container */
nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: transparent;
}

.background-tabs {
  display: flex;
  gap: 20px;
}

/* Navigation Tab Link */
.background-tab-link {
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: 0.125em;
  --curve-size: 0.5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  cursor: pointer;
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: 0.5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  clip-path: polygon(
    0% var(--curve-size),
    var(--curve-size) 0,
    100% 0,
    100% calc(100% - var(--curve-size)),
    calc(100% - var(--curve-size)) 100%,
    0 100%
  );
  transition: color 250ms;
}

.background-tab-link::after,
.background-tab-link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.background-tab-link::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%;
  }
  50% {
    background-position: 70% 100%;
  }
  100% {
    background-position: 31% 0%;
  }
}

.background-tab-link::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
    var(--border-width)
      calc(var(--curve-size) + var(--border-width) * 0.5),
    calc(var(--curve-size) + var(--border-width) * 0.5) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    var(--border-width) calc(100% - var(--border-width))
  );
  transition: clip-path 500ms;
}

.background-tab-link:where(:hover, :focus)::after {
  clip-path: polygon(
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width)) var(--border-width),
    calc(100% - var(--border-width))
      calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width)),
    calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
      calc(100% - var(--border-width))
  );
  transition: 200ms;
}

.background-tab-link:where(:hover, :focus) {
  color: #fff;
}


/* Login Main Section */
.loginMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  flex-grow: 1;
}

/* Left Section */
.loginLeft {
  margin-bottom: 20px;
}

.loginLeft h1 {
  background: linear-gradient(90deg, #ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3em;
  font-weight: 700;
  font-family: 'Mukta', sans-serif;;
  margin: 0 0 10px 0;
  line-height: 1.2;
  padding: 0px;
  text-align: left;
  font-family: ;
}

.loginLeft p {
  font-size: 2em;
  font-family: 'Forum' ,sans-serif;
  font-weight: 600;
  margin: 0 0 20px 0; 
}

.signup-button {
  background: linear-gradient(145deg, #6c6cff, #5959ff);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.signup-button:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.3), -4px -4px 12px rgba(255, 255, 255, 0.2);
}

/* Right Section */
.LoginRight {
  display: flex;
  justify-content: flex-end;
}

.loginBox {
  background-color: white; 
  padding:30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 20px 0; /* Margin for spacing */
  max-width: 300px;  
  height: 300px; /* Allow height to adjust based on content */
  text-align: center;
  border-radius: 15px;
}

.loginBox h1 {
  color:#004085;;
  margin-bottom: 30px;
  padding: 0px;
  font-family: 'Forum' ,sans-serif;
}

.greeting {
  color: #333;
  padding: 25px;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;
}
.time {
  color: #333;
  font-size: 18px;
  font-family: 'Mukta', sans-serif;
}
/* Buttons */
.btn {
  background-color: white;
  color: #333;
  border: none;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none; 
  box-shadow: none;
}

.btn img {
  width: 250px; 
  padding: 40px;
}

.btn:hover {
  background-color: #eaeaea;
}


.copy{
  margin: 0 15px;
  font-size: 1.2em;
}

.copy:hover {
  color: #ff7e5f;
  cursor: pointer;
}


/* From Uiverse.io by javierBarroso */ 

.social-login-icons {
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}


.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 30px 0 0px 0;
  
}

.icon svg {
  fill: wheat;
  transition: opacity 0.5s ease;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: red;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}


/* From Uiverse.io by cssbuttons-io */ 
.bton {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.bton:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.bton:active {
  transform: translateY(-1px);
}
/* Main container adjustments */
@media (max-width: 767px) {
  /* Main Container */
  .mainContainer {
    width: 100%;
    display: flex;
    padding: 0 2px; /* Reduced padding for more compact layout */
    text-align: center; /* Center-align all content */
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  /* Header Section */
  .loginLeft h1 {
    font-size: 1.3rem; /* Smaller font size to fit on one line */
    color: #ff8c42; /* Accent color */
    max-width: 90%; /* Ensure the text uses more space */
    white-space: normal; /* Allow text wrapping */
    text-align: center;
  }

  .loginLeft p {
    font-size: 1rem; /* Consistent font size */
    margin: 10px auto; /* Adjusted margin */
    max-width: 90%; /* Ensure the text uses more space */
    text-align: center; /* Center the paragraph */
  }

  /* Logo adjustments */
  .logoN img {
    max-width: 60px; /* Smaller logo size for smaller screens */
    height: auto;
    margin-bottom: 5px; /* Adds space between the logo and navigation */
  }
  .background-tabs {
    display: flex;
    gap: 8px;
  }
  .greeting{
    padding: 2px;
  }

  /* Text adjustments */
  .loginMain {
    flex-direction: column;
    padding: 20px 10px;
    gap: 5px; /* Smaller gap for better use of space */
  }

  .signup-button {
    font-size: 1rem; /* Consistent button font size */
    padding: 10px 20px;
    width: auto;
    margin: 0 auto; /* Center button */
  }

  /* Login Box adjustments */
  .loginBox {
    width: 120%; /* Full width on smaller screens */
    margin: 0; /* Center login box */
    padding: 15px;
    box-sizing: border-box;
  }

  .loginBox input {
    width: 100%;
    padding: 10px;
  }

  /* Footer adjustments */
  .footerMain {
    text-align: center;
    padding: 20px 10px; /* Increased padding for better spacing */
  }

  .copy {
    font-size: 12px;
  }

  /* Social Icons adjustments */
  .social-login-icons {
    justify-content: center;
    gap: 15px; /* Increased gap for better spacing */
    padding: 10px 0; /* Adds padding around icons */
  }

  .socialcontainer {
    width: 32px; /* Adjusted icon size */
    height: 32px; /* Maintain aspect ratio */
  }

  .socialcontainer svg {
    width: 100%;
    height: 100%;
  }
  .background-tab-link{
    padding: 0.3em 1.3em;
    font-size: 12px;
  }
}

/* Media Query for Extra Small Devices */
@media (max-width: 480px) {
  .headerMain {
    flex-direction: column;
    align-items: center;
    gap: 10px; /* Add gap between logo and nav */
  }

  /* Adjusting text and buttons */
  .loginMain {
    gap: 10px; /* Reduced gap for compact layout */
    align-items: center; /* Center elements */
  }

  .loginLeft h1 {
    font-size: 1.2rem; /* Smaller font size */
    margin: 10px auto; /* Center and use more space */
    max-width: 90%; /* Ensure the text uses more space */
    white-space: normal; /* Allow text wrapping */
    text-align: center;
    top: -25px;
  }

  .loginLeft p {
    font-size: 0.9rem; /* Smaller font size */
    margin: 10px auto; /* Center and use more space */
    max-width: 90%; /* Ensure the text uses more space */
    text-align: center;
  }

  .signup-button {
    font-size: 0.9rem; /* Smaller button font size */
    padding: 8px 16px;
  }

  
  .social-login-icons {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .socialcontainer {
    width: 28px; /* Smaller icon size */
  }

  /* Footer adjustments */
  .footerMain {
    padding: 15px 0; /* Compact footer padding */
  }
}
