.leave-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: url('../space.jpeg') no-repeat center center fixed;
  background-size: cover; /* This ensures the background covers the entire area */
  background-attachment: fixed; /* Ensures that the background image stays fixed during scrolling */
  min-height: 100vh;
  position: relative;
}

.logo {
  position: absolute; /* Position the logo absolutely */
  top: 20px; /* Adjust spacing from the top */
  left: 20px; /* Adjust spacing from the left */
  width: 80px; /* Adjust logo size */
  height: auto;
  padding: 2px 40px;
}



.leave-container {
  margin-bottom: 20px;
}

.leave-container label {
  display: block;
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: 400;
  color: #323232;
}

.leave-container input[type="text"],
.leave-container input[type="date"],
.leave-container textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #dfe6e9;
  border-radius: 5px;
  font-size: 16px;
  color: #34495e;
  box-sizing: border-box;
  background-color: #f7f9fc;
  /* box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); */
  transition: border-color 0.3s ease;
}

.leave-container input[type="text"]:focus,
.leave-container input[type="date"]:focus,
.leave-container textarea:focus {
  border-color: #3498db;
  outline: none;
}

.leave-container textarea {
  resize: vertical;
  min-height: 120px;
}

/* From Uiverse.io by satyamchaudharydev */ 
.buttons {
  position: relative;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  padding-block: 0.5rem;
  padding-inline: 1.25rem;
  background-color: orangered; 
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  gap: 30px;
  font-weight: bold;
  border: 3px solid #ffffff4d;
  outline: none;
  overflow: hidden;
  font-size: 15px;
  flex: 1;
  margin-right: 10px; 
}

.icon {
  width: 24px;
  height: 24px;
  transition: all 0.3s ease-in-out;
}

.buttons:hover {
  transform: scale(1.05);
  border-color: #fff9;
}

.buttons:hover .icon {
  transform: translate(4px);
}

.buttons:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.buttons::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 100px;
  height: 50px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  flex: 1;
  text-shadow: 0 1px #fff;
}

.back-button:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.back-button:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.back-button:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}



.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 767px) {

.logo{
  max-width: 51px; 
    height: auto;
    margin-bottom: 7px;
}
.leave{
  height: 500px;
  padding: 30px;
  padding-top: 2px;
}
.leave-container input[type="text"], .leave-container input[type="date"], .leave-container textarea{
  width: 90%;
  padding: 8px;
  font-size: 13px;
  margin-bottom: 3px;
}
}
