/* Full-screen background with the panel centered */
.session-panel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  background: url('../space.jpeg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden; /* Prevent scrolling */
  padding: 20px; /* Optional: Add some padding to the sides */
}

/* Main user sessions panel */
.user-sessions {
  width: 100%;
  max-width: 900px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Hide overflow from content */
  max-height: 100vh; /* Ensure the panel doesn't exceed the viewport height */
}

/* Header with logo and title */
.header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo {
  margin-right: 20px;
  width: 60px;
  height: auto;
}

/* Scrollable container for session table */
.sessions-table-container {
  max-height: calc(100vh - 150px); /* Adjust this value based on other elements' height */
  overflow-y: auto; /* Enable scrolling within the table container */
}

/* Table styling */
.sessions-table {
  width: 100%;
  border-collapse: collapse;
}

.sessions-table th, .sessions-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.date-row {
  background-color: #f0f0f0;
}

.date-row:hover {
  background-color: #e0e0e0;
}

.session-detail {
  background-color: #f9f9f9;
}

/* Custom scrollbar styling */
.sessions-table-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.sessions-table-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar color */
  border-radius: 5px; /* Rounded corners */
}

.sessions-table-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}
.back-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 80px;
  height: 30px;
  background-image: linear-gradient(to top, #D8D9DB 0%, #fff 80%, #FDFDFD 100%);
  border-radius: 30px;
  border: 1px solid #8F9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.back-buttons:hover {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 3px 3px #CECFD1;
}

.back-buttons:active {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.back-buttons:focus {
  box-shadow: 0 4px 3px 1px #FCFCFC, 0 6px 8px #D6D7D9, 0 -4px 4px #CECFD1, 0 -6px 4px #FEFEFE, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}




